@model IEnumerable<Project_MVC5.Models.ITEMS>
@{
    ViewBag.Title = "PurchaseGRN";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";


}




@* add new & edit*@

<div class="box box-danger">

    <div class="box-body">

        <form class="form-horizontal" action="/PurchaseGRN/AddorEdit" method="post">

            <div>

                @Html.Label("Item")
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                @Html.DropDownList("Name_Item", (ViewBag.items as SelectList), "-- Please Select a Route  --", new { style = "width:250px", @class = "form-control col-md-push-12 " })

            </div>
            
            <div class="form-group">

                <input type="hidden" name="StockId" id="StockId" />
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Product Quantity</label>
                <input type="text" class="form-control col-sm-6" name="Add_Quantity" id="Add_Quantity" />
            </div>

            <input type="submit" value="SAVE" class="btn btn-danger text-center" />
        </form>
    </div>
</div>

<div class="box box-warning">

    <div class="box-body table-responsive no-padding">
        
        <table class="table table-hover">
            
            <tr>
                
                <th>Product Name</th>
                <th>Price</th>
                <th>quantity</th>
                <th>Description</th>
                <th>Option</th>
            </tr>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="main-data" data-id="@item.StockId">
                            <td>@item.Name_Item</td>
                            <td>@item.COST_PRICE</td>
                            <td>@item.Add_Quantity</td>
                            <td>@item.STOCK_LEVEL</td>
                            <td>
                                <a href="/PurchaseGRN/Delete/@item.StockId">Delete</a> | <a href="#" onclick="showedit(this)">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>

        @* using jquery to show data edit and detail product*@

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>

        <script>
            function showedit(objects) {
                var _this = $(objects).closest(".main-data");
                $("#Name_Product").val(_this.find("td").eq(0).html());
                $("#Price").val(_this.find("td").eq(1).html());
                $("#Quantity").val(_this.find("td").eq(2).html());
                $("#Description").val(_this.find("td").eq(3).html());

                $("#ID_Product").val(_this.attr("data-id"));

            }
        </script>
